<!DOCTYPE html>
<html>
<head>
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>

<meta charset="ISO-8859-1">
<title>Clients List</title>

</head>
<body>

<form th:action="@{/cautareClient/getOne}" method="get">
				
					<input id="txtSearch" type="text" name="keynumber">
					<button type="submit">Submit</button>
				      
				      
				</form>




		
</body>
</html>